#dialogueBox {
    position: fixed;
    bottom: 5%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    text-align: left;
}

#dialogueText {
    margin: 0;
    line-height: 1.5;
}

#characterImages {
    width: 200 px;
    height: 100 px;
    position: absolute;
    bottom: 15%;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

#characters {
    width: 100%;
    height: auto;
    max-height: 100%;
}
