#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#characterImages {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%;
    max-height: 60%;
    z-index: 1;
}

body {
    overflow: hidden;
}

#dialogueBox {
    position: fixed;
    bottom: 5%;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    text-align: left;
    z-index: 10;
}

#dialogueText {
    margin: 0;
    line-height: 1.5;
}

#choiceBox {
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 12;
}

#choiceBox button {
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#choiceBox button:hover {
    color: #DDD;
}

#buttonContainer {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 11;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 10 px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
